# Module 2 Final Project: Northwind Hypothesis Testing

## Setup

Importing packages and creating the engine and session for me to explore the Northwind database

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.formula.api import ols
%matplotlib inline

In [2]:
import sqlalchemy
from sqlalchemy import create_engine, inspect
from sqlalchemy.orm import Session, sessionmaker

engine = create_engine("sqlite:///Northwind_small.sqlite", echo=True)

Session = sessionmaker(bind=engine)
session = Session()

inspector = inspect(engine)
print(inspector.default_schema_name)

2019-03-19 09:45:29,875 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-03-19 09:45:29,877 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,878 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-03-19 09:45:29,879 INFO sqlalchemy.engine.base.Engine ()
None

Creating an ORM to easily pull data from the necessary tables

In [3]:
from sqlalchemy import MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import relationship

metadata = MetaData()
metadata.reflect(engine)

Base = automap_base(metadata=metadata)

Base.prepare()

Order = Base.classes.Order
OrderDetail = Base.classes.OrderDetail
Product = Base.classes.Product
Customer = Base.classes.Customer
Category = Base.classes.Category
Employee = Base.classes.Employee

2019-03-19 09:45:29,954 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-03-19 09:45:29,956 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,961 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Category")
2019-03-19 09:45:29,962 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,966 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-03-19 09:45:29,967 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,971 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Category")
2019-03-19 09:45:29,972 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,974 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-03-19 09:45:29,975 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,979 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-03-19 09:45:29,980 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,982 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-03-19 09:45:29,983 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,985 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-03-19 09:45:29,986 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,991 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")
2019-03-19 09:45:29,992 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:29,995 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-03-19 09:45:29,996 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,000 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Customer")
2019-03-19 09:45:30,002 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,004 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-03-19 09:45:30,006 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,009 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-03-19 09:45:30,010 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,011 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-03-19 09:45:30,012 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,014 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Customer_1")
2019-03-19 09:45:30,015 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,016 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-03-19 09:45:30,017 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,020 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerCustomerDemo")
2019-03-19 09:45:30,021 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,022 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-03-19 09:45:30,023 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,025 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerCustomerDemo")
2019-03-19 09:45:30,026 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,027 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-03-19 09:45:30,028 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,029 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-03-19 09:45:30,030 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,032 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-03-19 09:45:30,033 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,034 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerCustomerDemo_1")
2019-03-19 09:45:30,035 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,036 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-03-19 09:45:30,037 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,039 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerDemographic")
2019-03-19 09:45:30,040 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,042 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-03-19 09:45:30,043 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,044 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerDemographic")
2019-03-19 09:45:30,045 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,046 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-03-19 09:45:30,048 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,049 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-03-19 09:45:30,050 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,052 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-03-19 09:45:30,057 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,059 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerDemographic_1")
2019-03-19 09:45:30,060 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,061 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-03-19 09:45:30,063 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,065 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-03-19 09:45:30,066 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,070 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-03-19 09:45:30,072 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,074 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Employee")
2019-03-19 09:45:30,075 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,077 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-03-19 09:45:30,078 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,080 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-03-19 09:45:30,082 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,084 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-03-19 09:45:30,085 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,087 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-03-19 09:45:30,089 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,091 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EmployeeTerritory")
2019-03-19 09:45:30,092 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,094 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-03-19 09:45:30,095 INFO sqlalchemy.engine.base.Engine ()

2019-03-19 09:45:30,097 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("EmployeeTerritory")
2019-03-19 09:45:30,098 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,099 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-03-19 09:45:30,100 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,101 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-03-19 09:45:30,102 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,103 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-03-19 09:45:30,104 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,106 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_EmployeeTerritory_1")
2019-03-19 09:45:30,107 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,108 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-03-19 09:45:30,109 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,111 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")
2019-03-19 09:45:30,112 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,115 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-03-19 09:45:30,116 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,118 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Order")
2019-03-19 09:45:30,119 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,121 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-03-19 09:45:30,122 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,124 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-03-19 09:45:30,125 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,126 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-03-19 09:45:30,127 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,128 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-03-19 09:45:30,129 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,131 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("OrderDetail")
2019-03-19 09:45:30,132 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,135 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-03-19 09:45:30,136 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,138 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("OrderDetail")
2019-03-19 09:45:30,139 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,140 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-03-19 09:45:30,141 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,143 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-03-19 09:45:30,144 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,146 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-03-19 09:45:30,147 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,149 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_OrderDetail_1")
2019-03-19 09:45:30,150 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,152 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-03-19 09:45:30,153 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,155 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Product")
2019-03-19 09:45:30,155 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,159 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-03-19 09:45:30,160 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,162 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Product")
2019-03-19 09:45:30,163 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,165 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-03-19 09:45:30,167 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,169 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-03-19 09:45:30,170 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,172 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-03-19 09:45:30,173 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,175 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-03-19 09:45:30,176 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,179 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Region")
2019-03-19 09:45:30,181 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,184 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-03-19 09:45:30,185 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,188 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Region")
2019-03-19 09:45:30,190 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,191 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-03-19 09:45:30,192 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,194 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-03-19 09:45:30,195 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,196 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-03-19 09:45:30,197 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,199 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-03-19 09:45:30,200 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,202 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Shipper")
2019-03-19 09:45:30,203 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,206 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-03-19 09:45:30,207 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,209 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Shipper")
2019-03-19 09:45:30,210 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,211 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-03-19 09:45:30,212 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,213 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-03-19 09:45:30,214 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,216 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-03-19 09:45:30,216 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,218 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-03-19 09:45:30,218 INFO sqlalchemy.engine.base.Engine ()

2019-03-19 09:45:30,220 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Supplier")
2019-03-19 09:45:30,221 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,225 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-03-19 09:45:30,225 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,227 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Supplier")
2019-03-19 09:45:30,228 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,229 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-03-19 09:45:30,230 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,232 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-03-19 09:45:30,233 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,234 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-03-19 09:45:30,235 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,236 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-03-19 09:45:30,237 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,239 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Territory")
2019-03-19 09:45:30,240 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,242 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-03-19 09:45:30,243 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,244 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Territory")
2019-03-19 09:45:30,245 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,246 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-03-19 09:45:30,247 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,249 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-03-19 09:45:30,250 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,251 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-03-19 09:45:30,252 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,253 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Territory_1")
2019-03-19 09:45:30,254 INFO sqlalchemy.engine.base.Engine ()
2019-03-19 09:45:30,256 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-03-19 09:45:30,256 INFO sqlalchemy.engine.base.Engine ()

## Discount Effects Analysis

### Refining the Question

The original question as posed was: "Do discounts have a statistically significant effect on the number of products customers order? If so, at what level(s) of discount?"

I see a few different ways to rephase this question:

1. On average across purchases of products that are sometimes discounted, do orders that include that product include a significantly higher quantity of it when that product has a discount applied versus when it does not? Does the difference vary for different discount sizes?
2. On average across purchases of products that are sometimes discounted, are customers more likely to order products that are sometimes discounted versus products that are never discounted? Does the difference vary for different discount sizes?
3. On average across orders, do orders that contain discounted items tend to include more total items than orders that do not include discounted items? Does the difference vary for different discount sizes?

I have chosen to pursue question #1 because that seems like the most plausible scenario based on my understanding of purchasing behavior.

### Data Extraction

Answering this query will require columns from Order, and OrderDetail, which I will pull into a DataFrame with one row per OrderDetail

In [4]:
query1 = session.query(Order, OrderDetail).\
                filter(OrderDetail.OrderId == Order.Id).\
                order_by(Order.Id).\
                all()

df1 = pd.DataFrame()
for o, od in query1:
    q1_df_row = pd.DataFrame({'Order_Id': o.Id, 'Product_Id': od.ProductId, 
                             'Product_Quantity': od.Quantity, 'Product_Discount': od.Discount}, index = [0])
    df1 = df1.append(q1_df_row, ignore_index= True)

2019-03-19 09:45:30,312 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-03-19 09:45:30,315 INFO sqlalchemy.engine.base.Engine SELECT "Order"."Id" AS "Order_Id", "Order"."CustomerId" AS "Order_CustomerId", "Order"."EmployeeId" AS "Order_EmployeeId", "Order"."OrderDate" AS "Order_OrderDate", "Order"."RequiredDate" AS "Order_RequiredDate", "Order"."ShippedDate" AS "Order_ShippedDate", "Order"."ShipVia" AS "Order_ShipVia", "Order"."Freight" AS "Order_Freight", "Order"."ShipName" AS "Order_ShipName", "Order"."ShipAddress" AS "Order_ShipAddress", "Order"."ShipCity" AS "Order_ShipCity", "Order"."ShipRegion" AS "Order_ShipRegion", "Order"."ShipPostalCode" AS "Order_ShipPostalCode", "Order"."ShipCountry" AS "Order_ShipCountry", "OrderDetail"."Id" AS "OrderDetail_Id", "OrderDetail"."OrderId" AS "OrderDetail_OrderId", "OrderDetail"."ProductId" AS "OrderDetail_ProductId", "OrderDetail"."UnitPrice" AS "OrderDetail_UnitPrice", "OrderDetail"."Quantity" AS "OrderDetail_Quantity", "OrderDetail"."Discount" AS "OrderDetail_Discount"
FROM "Order", "OrderDetail"
WHERE "OrderDetail"."OrderId" = "Order"."Id" ORDER BY "Order"."Id"
2019-03-19 09:45:30,316 INFO sqlalchemy.engine.base.Engine ()

C:\Users\david_000\Anaconda3\lib\site-packages\sqlalchemy\sql\sqltypes.py:603: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  'storage.' % (dialect.name, dialect.driver))

### Data Exploration & Cleaning

In [5]:
print(df1.info())
print(df1.describe())
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 4 columns):
Order_Id            2155 non-null int64
Product_Id          2155 non-null int64
Product_Quantity    2155 non-null int64
Product_Discount    2155 non-null float64
dtypes: float64(1), int64(3)
memory usage: 67.4 KB
None
           Order_Id   Product_Id  Product_Quantity  Product_Discount
count   2155.000000  2155.000000       2155.000000       2155.000000
mean   10659.375870    40.793039         23.812993          0.056167
std      241.378032    22.159019         19.022047          0.083450
min    10248.000000     1.000000          1.000000          0.000000
25%    10451.000000    22.000000         10.000000          0.000000
50%    10657.000000    41.000000         20.000000          0.000000
75%    10862.500000    60.000000         30.000000          0.100000
max    11077.000000    77.000000        130.000000          0.250000

   Order_Id  Product_Id  Product_Quantity  Product_Discount
0     10248          11                12               0.0
1     10248          42                10               0.0
2     10248          72                 5               0.0
3     10249          14                 9               0.0
4     10249          51                40               0.0

In [6]:
#Number of Orders
print(len(df1['Order_Id'].unique()))
df1['Order_Id'] = df1['Order_Id'].astype('category')

#Number of Products
print(len(df1['Product_Id'].unique()))
df1['Product_Id'] = df1['Product_Id'].astype('category')

#Product discount amounts
print(df1['Product_Discount'].value_counts())
#Lump all small discounts into 0.05 category and recast as categorical
df1['Product_Discount'] = df1['Product_Discount'].apply(lambda x: int(5) if (x < 0.1) & (x > 0) else int(x*100))
df1['Product_Discount'] = df1['Product_Discount'].astype('category')
print(df1['Product_Discount'].value_counts())

830
77
0.00    1317
0.05     185
0.10     173
0.20     161
0.15     157
0.25     154
0.03       3
0.02       2
0.01       1
0.04       1
0.06       1
Name: Product_Discount, dtype: int64
0     1317
5      193
10     173
20     161
15     157
25     154
Name: Product_Discount, dtype: int64

In [7]:
#Product discount cleaning
df1 = pd.get_dummies(df1, columns=['Product_Discount'])
df1['Has_Discount'] = (1 - df1['Product_Discount_0'])
df1.head()

,Order_Id,Product_Id,Product_Quantity,Product_Discount_0,Product_Discount_5,Product_Discount_10,Product_Discount_15,Product_Discount_20,Product_Discount_25,Has_Discount
0,10248,11,12,1,0,0,0,0,0,0
1,10248,42,10,1,0,0,0,0,0,0
2,10248,72,5,1,0,0,0,0,0,0
3,10249,14,9,1,0,0,0,0,0,0
4,10249,51,40,1,0,0,0,0,0,0

Next, I have to check to see which products are sometimes discounted, meaning that in some orders they have a discount and in some orders they don't.

In [8]:
#Create DataFrame indicating whether products are ever discounted or not
disc_df = df1[['Product_Id', 'Has_Discount']]
disc_df = disc_df.drop_duplicates()
disc_df = disc_df.sort_values(['Product_Id', 'Has_Discount'], axis = 0)
disc_df.shape

(154, 2)

Since there are 77 products, and 77*2 = 154, this means that every product is sometimes discounted and sometimes not discounted. This makes life a lot easier, because I can analyze all products in all orders.

In [9]:
product_list = list(df1['Product_Id'].drop_duplicates())

Next, I look at the relationship between product quantities for products sold at a discount versus undiscounted products.

In [10]:
df1.groupby(by = 'Has_Discount').mean()['Product_Quantity']

Has_Discount
0    21.715262
1    27.109785
Name: Product_Quantity, dtype: float64

### Analysis

This first analysis adresses the first part of the question: On average across purchases of products that are sometimes discounted, do orders that include that product include a significantly higher quantity of it when that product has a discount applied versus when it does not?

To do this, I will use two regression models. The first model is a simple linear regression. In this model, the target is 'Product_Quantity', the quantity of the ordered product. The feature of interest is a dummy variable that indicated whether the product was discounted: 'Has_Discount'.

In [11]:
#Fixed Effects Model
f = 'Product_Quantity~Has_Discount'
model = ols(formula=f, data=df1).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       Product_Quantity   R-squared:                       0.019
Model:                            OLS   Adj. R-squared:                  0.019
Method:                 Least Squares   F-statistic:                     41.97
Date:                Tue, 19 Mar 2019   Prob (F-statistic):           1.14e-10
Time:                        09:45:34   Log-Likelihood:                -9384.3
No. Observations:                2155   AIC:                         1.877e+04
Df Residuals:                    2153   BIC:                         1.878e+04
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       21.7153      0.519     41.821      0.000      20.697      22.734
Has_Discount     5.3945      0.833      6.479      0.000       3.762       7.027
==============================================================================
Omnibus:                      781.498   Durbin-Watson:                   1.629
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3015.153
Skew:                           1.761   Prob(JB):                         0.00
Kurtosis:                       7.602   Cond. No.                         2.44
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

We see in this model that the coefficient associated with the 'Has_Discount' variable is 5.3945, with a P-value below 0.001. The null hypothesis associated with this coefficient is that the true value of the coefficient is zero, meaning that there is no difference in product quantity ordered associated with discounts. The alternative hypothesis is that the coefficient is not zero, meaning that there is a difference in purchase quantity associated with having a discount. This alternative hypothesis means that I am conducting a two-tailed test. 

Since our P-value is below 0.05, a common benchmark, we reject the null hypothesis and conclude that the presence of a discount is associated with a significantly different number of items purchased. In this case, we estimate that a discount is associated with an average increase of 5.4 items purchased.

Next, I will use a fixed effects regression model.  I include dummy variables for each product in the model as well - this adjusts for the fact that some people tend to order larger quantities of some products than others, regardless of whether they are discounted. This allows for the following interpretation of the coefficient on the 'Has_Discount' variable: it represents a weighted average across all products of the difference in quantity purchased associated with the presence of a discount. The weighting in this average is the number of purchases including each item.

In [12]:
#Fixed Effects Model
fe_df = pd.get_dummies(df1, columns=['Product_Id'], drop_first=True)
prod_id_col_list = fe_df.columns[9:]
prod_id_string = '+'.join(prod_id_col_list)
f = 'Product_Quantity~Has_Discount + ' + prod_id_string
model = ols(formula=f, data=fe_df).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       Product_Quantity   R-squared:                       0.051
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     1.441
Date:                Tue, 19 Mar 2019   Prob (F-statistic):            0.00805
Time:                        09:45:35   Log-Likelihood:                -9349.0
No. Observations:                2155   AIC:                         1.885e+04
Df Residuals:                    2077   BIC:                         1.930e+04
Df Model:                          77
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept        19.4876      3.083      6.322      0.000      13.442      25.533
Has_Discount      5.4670      0.850      6.432      0.000       3.800       7.134
Product_Id_2      1.4289      4.182      0.342      0.733      -6.772       9.630
Product_Id_3      6.9346      6.254      1.109      0.268      -5.329      19.198
Product_Id_4      0.4289      5.214      0.082      0.934      -9.797      10.655
Product_Id_5      8.1256      6.708      1.211      0.226      -5.029      21.281
Product_Id_6      3.7734      6.250      0.604      0.546      -8.484      16.031
Product_Id_7      5.3146      4.655      1.142      0.254      -3.815      14.444
Product_Id_8      7.0251      6.064      1.158      0.247      -4.868      18.918
Product_Id_9     -3.7678      8.980     -0.420      0.675     -21.379      13.843
Product_Id_10     1.1749      4.492      0.262      0.794      -7.634       9.983
Product_Id_11    -2.7789      4.330     -0.642      0.521     -11.271       5.714
Product_Id_12     2.3504      5.901      0.398      0.690      -9.222      13.923
Product_Id_13     1.0106      4.276      0.236      0.813      -7.376       9.397
Product_Id_14    -3.6089      5.056     -0.714      0.475     -13.525       6.307
Product_Id_15    -0.9766      8.292     -0.118      0.906     -17.237      15.284
Product_Id_16     4.5184      4.203      1.075      0.283      -3.725      12.762
Product_Id_17     4.5807      4.359      1.051      0.293      -3.968      13.129
Product_Id_18    -2.1569      4.751     -0.454      0.650     -11.474       7.160
Product_Id_19    -2.1634      4.359     -0.496      0.620     -10.712       6.385
Product_Id_20    -2.3169      5.625     -0.412      0.680     -13.348       8.714
Product_Id_21     4.1807      4.302      0.972      0.331      -4.256      12.618
Product_Id_22     4.5886      5.905      0.777      0.437      -6.993      16.170
Product_Id_23     8.1457      5.216      1.562      0.119      -2.083      18.375
Product_Id_24     0.6417      4.045      0.159      0.874      -7.291       8.574
Product_Id_25    -4.8581      5.402     -0.899      0.369     -15.451       5.735
Product_Id_26     2.1644      4.529      0.478      0.633      -6.717      11.046
Product_Id_27    20.4605      7.002      2.922      0.004       6.729      34.192
Product_Id_28    -1.7503      4.492     -0.390      0.697     -10.560       7.059
Product_Id_29     1.6040      4.528      0.354      0.723      -7.277      10.485
Product_Id_30    -2.7544      4.528     -0.608      0.543     -11.635       6.126
Product_Id_31     5.1175      4.045      1.265      0.206      -2.816      13.051
Product_Id_32    -2.6033      5.756     -0.452      0.651     -13.891       8.685
Product_Id_33     2.2269      4.529      0.492      0.623      -6.655      11.108
Product_Id_34     5.1298      5.303      0.967      0.334      -5.270      15.530
Product_Id_35     3.3697      4.391      0.767      0.443      -5.241      11.981
Product_Id_36     4.1876      4.568      0.917      0.359      -4.771      13.146
Product_Id_37    -0.4766      8.292     -0.057      0.954     -16.737      15.784
Product_Id_38     4.1928      4.921      0.852      0.394      -5.458      13.844
Product_Id_39     4.3945      4.610      0.953      0.341      -4.646      13.435
Product_Id_40     5.2814      4.250      1.243      0.214      -3.054      13.616
Product_Id_41    -0.5927      4.118     -0.144      0.886      -8.668       7.483
Product_Id_42     1.5590      4.610      0.338      0.735      -7.481      10.599
Product_Id_43    -0.3353      4.702     -0.071      0.943      -9.557       8.886
Product_Id_44     3.0484      4.921      0.619      0.536      -6.603      12.699
Product_Id_45    14.0646      5.901      2.383      0.017       2.492      25.637
Product_Id_46    -1.6211      4.751     -0.341      0.733     -10.937       7.695
Product_Id_47     1.5250      5.132      0.297      0.766      -8.540      11.590
Product_Id_48    -1.0434      8.299     -0.126      0.900     -17.318      15.231
Product_Id_49     3.7123      5.133      0.723      0.470      -6.355      13.779
Product_Id_50     2.3723      6.709      0.354      0.724     -10.784      15.529
Product_Id_51     1.2679      4.302      0.295      0.768      -7.170       9.705
Product_Id_52    -3.9429      4.655     -0.847      0.397     -13.071       5.186
Product_Id_53     2.7568      4.610      0.598      0.550      -6.284      11.798
Product_Id_54    -0.7933      4.390     -0.181      0.857      -9.402       7.815
Product_Id_55     4.7284      4.493      1.052      0.293      -4.083      13.539
Product_Id_56     3.5856      4.062      0.883      0.377      -4.380      11.551
Product_Id_57    -1.8065      4.989     -0.362      0.717     -11.591       7.978
Product_Id_58     6.8382      5.403      1.266      0.206      -3.757      17.434
Product_Id_59     6.1913      3.997      1.549      0.122      -1.646      14.029
Product_Id_60     8.9685      4.045      2.217      0.027       1.036      16.901
Product_Id_61     3.3595      4.921      0.683      0.495      -6.291      13.010
Product_Id_62     1.1387      4.099      0.278      0.781      -6.899       9.177
Product_Id_63     5.4025      5.509      0.981      0.327      -5.402      16.207
Product_Id_64     3.3568      4.610      0.728      0.467      -5.684      12.398
Product_Id_65     1.0602      4.529      0.234      0.815      -7.821       9.942
Product_Id_66     9.0207      7.343      1.228      0.219      -5.380      23.422
Product_Id_67    -2.7277      6.709     -0.407      0.684     -15.884      10.429
Product_Id_68     2.2437      4.456      0.503      0.615      -6.496      10.983
Product_Id_69     0.8994      4.568      0.197      0.844      -8.059       9.858
Product_Id_70    -0.7817      4.302     -0.182      0.856      -9.219       7.655
Product_Id_71     4.1171      4.227      0.974      0.330      -4.173      12.407
Product_Id_72     0.7159      4.335      0.165      0.869      -7.785       9.217
Product_Id_73    -0.9020      5.901     -0.153      0.879     -12.474      10.670
Product_Id_74     2.0970      6.066      0.346      0.730      -9.800      13.994
Product_Id_75     3.6007      4.138      0.870      0.384      -4.514      11.715
Product_Id_76     3.8439      4.303      0.893      0.372      -4.594      12.282
Product_Id_77    -0.8298      4.330     -0.192      0.848      -9.321       7.662
==============================================================================
Omnibus:                      749.047   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2791.331
Skew:                           1.693   Prob(JB):                         0.00
Kurtosis:                       7.429   Cond. No.                         73.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

We see in this model that the coefficient associated with the 'Has_Discount' variable is 5.4670, with a P-value below 0.001. The null hypothesis associated with this coefficient is that the true value of the coefficient is zero, meaning that there is no difference in product quantity ordered associated with discounts, after accounting for differences in purchase quantity across products. The alternative hypothesis is that the coefficient is not zero, meaning that there is a difference in purchase quantity associated with having a discount. This alternative hypothesis means that I am conducting a two-tailed test. 

Since our P-value is below 0.05, a common benchmark, we reject the null hypothesis and conclude that the presence of a discount is associated with a significantly different number of items purchased. In this case, we estimate that a discount is associated with an average increase of 5.5 items purchased.

This next analysis addreses the second part of the question: Does the difference vary for different discount sizes? 

The previous model simply tested for observed differences associated with discounts of any size. Now, I will treat discount amount as a categorical variable, and observe the size of the differences in product quantity associated with each discount category.

In [13]:
discount_col_list = fe_df.columns[3:8]
discount_string = '+'.join(discount_col_list)
f = 'Product_Quantity~' + discount_string + ' + ' + prod_id_string
model = ols(formula=f, data=fe_df).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       Product_Quantity   R-squared:                       0.052
Model:                            OLS   Adj. R-squared:                  0.015
Method:                 Least Squares   F-statistic:                     1.411
Date:                Tue, 19 Mar 2019   Prob (F-statistic):             0.0103
Time:                        09:45:35   Log-Likelihood:                -9347.3
No. Observations:                2155   AIC:                         1.886e+04
Df Residuals:                    2073   BIC:                         1.932e+04
Df Model:                          81
Covariance Type:            nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept              19.2122      3.088      6.221      0.000      13.156      25.269
Product_Discount_5      5.1916      1.483      3.500      0.000       2.283       8.101
Product_Discount_10     3.5410      1.553      2.280      0.023       0.495       6.587
Product_Discount_15     6.5307      1.626      4.016      0.000       3.342       9.719
Product_Discount_20     5.2729      1.607      3.281      0.001       2.121       8.425
Product_Discount_25     7.0919      1.636      4.335      0.000       3.884      10.300
Product_Id_2            1.4685      4.186      0.351      0.726      -6.740       9.677
Product_Id_3            7.5310      6.264      1.202      0.229      -4.754      19.816
Product_Id_4            0.9070      5.223      0.174      0.862      -9.336      11.150
Product_Id_5            8.4700      6.715      1.261      0.207      -4.698      21.638
Product_Id_6            3.9822      6.264      0.636      0.525      -8.303      16.268
Product_Id_7            5.6278      4.664      1.207      0.228      -3.520      14.775
Product_Id_8            7.1750      6.067      1.183      0.237      -4.722      19.072
Product_Id_9           -3.6449      8.987     -0.406      0.685     -21.269      13.979
Product_Id_10           1.4579      4.497      0.324      0.746      -7.361      10.277
Product_Id_11          -2.5207      4.335     -0.581      0.561     -11.022       5.981
Product_Id_12           2.4306      5.909      0.411      0.681      -9.157      14.018
Product_Id_13           1.3237      4.283      0.309      0.757      -7.076       9.723
Product_Id_14          -3.3602      5.060     -0.664      0.507     -13.283       6.562
Product_Id_15          -0.6094      8.310     -0.073      0.942     -16.907      15.688
Product_Id_16           4.7111      4.212      1.118      0.264      -3.550      12.972
Product_Id_17           4.8925      4.369      1.120      0.263      -3.676      13.461
Product_Id_18          -1.7771      4.758     -0.374      0.709     -11.107       7.553
Product_Id_19          -1.8394      4.367     -0.421      0.674     -10.403       6.725
Product_Id_20          -1.9417      5.639     -0.344      0.731     -13.001       9.118
Product_Id_21           4.6677      4.313      1.082      0.279      -3.790      13.125
Product_Id_22           4.7676      5.910      0.807      0.420      -6.823      16.358
Product_Id_23           8.4064      5.219      1.611      0.107      -1.830      18.642
Product_Id_24           0.8153      4.048      0.201      0.840      -7.123       8.753
Product_Id_25          -4.7382      5.407     -0.876      0.381     -15.342       5.865
Product_Id_26           2.2555      4.532      0.498      0.619      -6.633      11.144
Product_Id_27          20.5554      7.005      2.934      0.003       6.818      34.293
Product_Id_28          -1.3326      4.500     -0.296      0.767     -10.158       7.492
Product_Id_29           1.6962      4.538      0.374      0.709      -7.203      10.595
Product_Id_30          -2.7302      4.537     -0.602      0.547     -11.627       6.167
Product_Id_31           5.4966      4.057      1.355      0.176      -2.459      13.453
Product_Id_32          -1.9564      5.769     -0.339      0.735     -13.269       9.356
Product_Id_33           2.4585      4.535      0.542      0.588      -6.435      11.352
Product_Id_34           5.3276      5.310      1.003      0.316      -5.086      15.741
Product_Id_35           3.6451      4.394      0.829      0.407      -4.973      12.263
Product_Id_36           4.3247      4.572      0.946      0.344      -4.641      13.291
Product_Id_37           0.1522      8.301      0.018      0.985     -16.126      16.431
Product_Id_38           4.6346      4.935      0.939      0.348      -5.044      14.313
Product_Id_39           4.7078      4.615      1.020      0.308      -4.342      13.758
Product_Id_40           5.7766      4.261      1.356      0.175      -2.579      14.132
Product_Id_41          -0.1549      4.130     -0.037      0.970      -8.255       7.945
Product_Id_42           1.8361      4.616      0.398      0.691      -7.217      10.890
Product_Id_43          -0.2662      4.703     -0.057      0.955      -9.490       8.958
Product_Id_44           3.3342      4.927      0.677      0.499      -6.327      12.996
Product_Id_45          14.3869      5.908      2.435      0.015       2.800      25.974
Product_Id_46          -1.4639      4.755     -0.308      0.758     -10.788       7.860
Product_Id_47           1.6329      5.137      0.318      0.751      -8.441      11.707
Product_Id_48          -0.6578      8.331     -0.079      0.937     -16.996      15.680
Product_Id_49           3.9537      5.141      0.769      0.442      -6.128      14.036
Product_Id_50           3.0605      6.723      0.455      0.649     -10.124      16.245
Product_Id_51           1.4734      4.307      0.342      0.732      -6.973       9.920
Product_Id_52          -3.6886      4.660     -0.792      0.429     -12.827       5.450
Product_Id_53           3.3490      4.623      0.724      0.469      -5.717      12.415
Product_Id_54          -0.5973      4.392     -0.136      0.892      -9.210       8.016
Product_Id_55           5.1106      4.500      1.136      0.256      -3.715      13.936
Product_Id_56           3.7101      4.065      0.913      0.361      -4.262      11.682
Product_Id_57          -1.4856      4.996     -0.297      0.766     -11.283       8.312
Product_Id_58           7.2533      5.410      1.341      0.180      -3.357      17.864
Product_Id_59           6.4062      4.003      1.600      0.110      -1.445      14.257
Product_Id_60           9.1428      4.050      2.258      0.024       1.201      17.085
Product_Id_61           3.6271      4.926      0.736      0.462      -6.032      13.287
Product_Id_62           1.3379      4.103      0.326      0.744      -6.709       9.385
Product_Id_63           5.6445      5.512      1.024      0.306      -5.165      16.454
Product_Id_64           3.9303      4.623      0.850      0.395      -5.135      12.996
Product_Id_65           1.6547      4.547      0.364      0.716      -7.263      10.572
Product_Id_66           9.4039      7.350      1.280      0.201      -5.010      23.817
Product_Id_67          -2.7017      6.710     -0.403      0.687     -15.860      10.457
Product_Id_68           2.5256      4.462      0.566      0.571      -6.225      11.277
Product_Id_69           1.1870      4.573      0.260      0.795      -7.780      10.154
Product_Id_70          -0.4939      4.307     -0.115      0.909      -8.940       7.953
Product_Id_71           4.4197      4.233      1.044      0.297      -3.881      12.720
Product_Id_72           1.0518      4.341      0.242      0.809      -7.461       9.565
Product_Id_73          -0.5878      5.908     -0.099      0.921     -12.174      10.998
Product_Id_74           2.0405      6.069      0.336      0.737      -9.862      13.943
Product_Id_75           4.0472      4.146      0.976      0.329      -4.084      12.178
Product_Id_76           3.9881      4.306      0.926      0.354      -4.456      12.433
Product_Id_77          -0.5733      4.337     -0.132      0.895      -9.079       7.932
==============================================================================
Omnibus:                      753.592   Durbin-Watson:                   1.652
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2839.787
Skew:                           1.700   Prob(JB):                         0.00
Kurtosis:                       7.480   Cond. No.                         68.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Interpretation

In this model, we have five coefficients for the five different discount categories. Each of these coefficients has the following null hypothesis: that the difference in purchase quantities associated with a discount of that size is zero. The alternative hypothesis is that the difference is non-zero, again a two-tailed test. We see that the P-value for each coefficient is below 0.05, meaning that there does seem to be a significant difference in product quantity purchased for discounts of every level. 

The coefficients range from 3.5410 to 7.0919, but I do not fomarlly test these difference to see if there are differences in effect size among the different discount categories. Given that the standard errors for these coefficients are around 1.6, we would be unlikely to see many difference emerge using formal tests, using a heuristic of 2 standard errors as a typical difference that would be needed to reject a null hypothesis of differences between coefficients.

This implies that there is no clear difference in product purchasing behavior associated with discounts of different sizes. However, we can say that discounts of any size are associated with increased purchase quantity.

## Discount Effects By Product Category

### Refining the Question

It seems plausible that the potential impacts of offering discounts might vary by product category. This would be useful knowledge for deciding which products to offer discounts for. I will test this hypothesis by adding in interaction terms to the previous model.

### Data Extraction

Data extraction will be similar to that for the previous query, with additional joins to pull in category information.

In [14]:
query2 = session.query(Order, OrderDetail, Product, Category).\
                filter(OrderDetail.OrderId == Order.Id).\
                filter(OrderDetail.ProductId == Product.Id).\
                filter(Product.CategoryId == Category.Id).\
                all()
df2 = pd.DataFrame()

for o, od, p, c in query2:
    q2_df_row = pd.DataFrame({'Order_Id': o.Id, 'Product_Id': od.ProductId, 
                             'Product_Quantity': od.Quantity, 'Product_Discount': od.Discount, 'Product_Category': c.CategoryName}, index = [0])
    df2 = df2.append(q2_df_row, ignore_index= True)

2019-03-19 09:45:35,706 INFO sqlalchemy.engine.base.Engine SELECT "Order"."Id" AS "Order_Id", "Order"."CustomerId" AS "Order_CustomerId", "Order"."EmployeeId" AS "Order_EmployeeId", "Order"."OrderDate" AS "Order_OrderDate", "Order"."RequiredDate" AS "Order_RequiredDate", "Order"."ShippedDate" AS "Order_ShippedDate", "Order"."ShipVia" AS "Order_ShipVia", "Order"."Freight" AS "Order_Freight", "Order"."ShipName" AS "Order_ShipName", "Order"."ShipAddress" AS "Order_ShipAddress", "Order"."ShipCity" AS "Order_ShipCity", "Order"."ShipRegion" AS "Order_ShipRegion", "Order"."ShipPostalCode" AS "Order_ShipPostalCode", "Order"."ShipCountry" AS "Order_ShipCountry", "OrderDetail"."Id" AS "OrderDetail_Id", "OrderDetail"."OrderId" AS "OrderDetail_OrderId", "OrderDetail"."ProductId" AS "OrderDetail_ProductId", "OrderDetail"."UnitPrice" AS "OrderDetail_UnitPrice", "OrderDetail"."Quantity" AS "OrderDetail_Quantity", "OrderDetail"."Discount" AS "OrderDetail_Discount", "Product"."Id" AS "Product_Id", "Product"."ProductName" AS "Product_ProductName", "Product"."SupplierId" AS "Product_SupplierId", "Product"."CategoryId" AS "Product_CategoryId", "Product"."QuantityPerUnit" AS "Product_QuantityPerUnit", "Product"."UnitPrice" AS "Product_UnitPrice", "Product"."UnitsInStock" AS "Product_UnitsInStock", "Product"."UnitsOnOrder" AS "Product_UnitsOnOrder", "Product"."ReorderLevel" AS "Product_ReorderLevel", "Product"."Discontinued" AS "Product_Discontinued", "Category"."Id" AS "Category_Id", "Category"."CategoryName" AS "Category_CategoryName", "Category"."Description" AS "Category_Description"
FROM "Order", "OrderDetail", "Product", "Category"
WHERE "OrderDetail"."OrderId" = "Order"."Id" AND "OrderDetail"."ProductId" = "Product"."Id" AND "Product"."CategoryId" = "Category"."Id"
2019-03-19 09:45:35,708 INFO sqlalchemy.engine.base.Engine ()

### Data Exploration & Cleaning

This will also be similar to the previous analysis, with some added work for the new product category information.

In [15]:
print(df2.info())
print(df2.describe())
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 5 columns):
Order_Id            2155 non-null int64
Product_Id          2155 non-null int64
Product_Quantity    2155 non-null int64
Product_Discount    2155 non-null float64
Product_Category    2155 non-null object
dtypes: float64(1), int64(3), object(1)
memory usage: 84.3+ KB
None
           Order_Id   Product_Id  Product_Quantity  Product_Discount
count   2155.000000  2155.000000       2155.000000       2155.000000
mean   10659.375870    40.793039         23.812993          0.056167
std      241.378032    22.159019         19.022047          0.083450
min    10248.000000     1.000000          1.000000          0.000000
25%    10451.000000    22.000000         10.000000          0.000000
50%    10657.000000    41.000000         20.000000          0.000000
75%    10862.500000    60.000000         30.000000          0.100000
max    11077.000000    77.000000        130.000000          0.250000

   Order_Id  Product_Id  Product_Quantity  Product_Discount Product_Category
0     10248          11                12               0.0   Dairy Products
1     10248          42                10               0.0   Grains/Cereals
2     10248          72                 5               0.0   Dairy Products
3     10249          14                 9               0.0          Produce
4     10249          51                40               0.0          Produce

In [16]:
#Number of Orders
print(len(df2['Order_Id'].unique()))
df2['Order_Id'] = df2['Order_Id'].astype('category')

#Number of Products
print(len(df1['Product_Id'].unique()))
df2['Product_Id'] = df2['Product_Id'].astype('category')

#Product discount amounts
print(df2['Product_Discount'].value_counts())
#Lump all small discounts into 0.05 category and recast as categorical
df2['Product_Discount'] = df2['Product_Discount'].apply(lambda x: int(5) if (x < 0.1) & (x > 0) else int(x*100))
df2['Product_Discount'] = df2['Product_Discount'].astype('category')
print(df2['Product_Discount'].value_counts())

#Product Categories
print(df2['Product_Category'].value_counts())
df2['Product_Category'] = df2['Product_Category'].apply(lambda x:'Dairy' if x == 'Dairy Products' else x)
df2['Product_Category'] = df2['Product_Category'].apply(lambda x:'Grains' if x == 'Grains/Cereals' else x)
df2['Product_Category'] = df2['Product_Category'].apply(lambda x:'Meat' if x == 'Meat/Poultry' else x)
df2['Product_Category'] = df2['Product_Category'].astype('category')

830
77
0.00    1317
0.05     185
0.10     173
0.20     161
0.15     157
0.25     154
0.03       3
0.02       2
0.01       1
0.04       1
0.06       1
Name: Product_Discount, dtype: int64
0     1317
5      193
10     173
20     161
15     157
25     154
Name: Product_Discount, dtype: int64
Beverages         404
Dairy Products    366
Confections       334
Seafood           330
Condiments        216
Grains/Cereals    196
Meat/Poultry      173
Produce           136
Name: Product_Category, dtype: int64

In [17]:
#Product discount cleaning
df2 = pd.get_dummies(df2, columns=['Product_Discount'])
df2['Has_Discount'] = (1 - df2['Product_Discount_0'])
df2.head()

,Order_Id,Product_Id,Product_Quantity,Product_Category,Product_Discount_0,Product_Discount_5,Product_Discount_10,Product_Discount_15,Product_Discount_20,Product_Discount_25,Has_Discount
0,10248,11,12,Dairy,1,0,0,0,0,0,0
1,10248,42,10,Grains,1,0,0,0,0,0,0
2,10248,72,5,Dairy,1,0,0,0,0,0,0
3,10249,14,9,Produce,1,0,0,0,0,0,0
4,10249,51,40,Produce,1,0,0,0,0,0,0

### Analysis

This analysis will build on the previous fixed effects regression model by adding interaction terms. Based on the results of the previous analysis, I am comfortable using the 'Has_Discount' dummy variable in lieu of the categorical discount variable. I will interact the product category dummies with this variable to create a number of interaction terms.

In [18]:
#Create dummy variables for analysis
fe_df = pd.get_dummies(df2, columns=['Product_Category', 'Product_Id'], drop_first=False)
fe_df_col_list = list(fe_df.columns)

#Create interaction terms with product categories and discounts
prod_cat_col_list = [c for c in fe_df_col_list if ('Product_Category' in c)]

for cat in [c for c in fe_df_col_list if ('Product_Category' in c)]:
    print(cat)
    new_col = cat + '_X_Disc'
    fe_df[new_col] = fe_df[cat] * fe_df['Has_Discount']


#drop unneeded dummies - one for each categorical variable
fe_df.drop(columns = ['Product_Id_1','Product_Category_Beverages'], axis = 1, inplace = True)

#Fixed Effects Model with Interactions
fe_df_col_list = list(fe_df.columns)
prod_cat_int_col_list = [c for c in fe_df_col_list if ('_X_Disc' in c)]
prod_id_col_list = [c for c in fe_df_col_list if ('Product_Id' in c)]

cat_string = '+'.join(prod_cat_int_col_list)
prod_id_string = '+'.join(prod_id_col_list)
f = 'Product_Quantity~Has_Discount + ' + cat_string + ' + ' + prod_id_string
model = ols(formula=f, data=fe_df).fit()
model.summary()

Product_Category_Beverages
Product_Category_Condiments
Product_Category_Confections
Product_Category_Dairy
Product_Category_Grains
Product_Category_Meat
Product_Category_Produce
Product_Category_Seafood

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:       Product_Quantity   R-squared:                       0.055
Model:                            OLS   Adj. R-squared:                  0.016
Method:                 Least Squares   F-statistic:                     1.424
Date:                Tue, 19 Mar 2019   Prob (F-statistic):            0.00773
Time:                        09:45:40   Log-Likelihood:                -9344.5
No. Observations:                2155   AIC:                         1.886e+04
Df Residuals:                    2070   BIC:                         1.934e+04
Df Model:                          84
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                              18.7611      3.169      5.921      0.000      12.547      24.975
Has_Discount                            4.7439      0.814      5.825      0.000       3.147       6.341
Product_Category_Beverages_X_Disc       2.4484      1.902      1.287      0.198      -1.282       6.179
Product_Category_Condiments_X_Disc      4.2258      2.500      1.691      0.091      -0.676       9.128
Product_Category_Confections_X_Disc    -2.6633      2.072     -1.286      0.199      -6.726       1.400
Product_Category_Dairy_X_Disc           2.2339      2.000      1.117      0.264      -1.688       6.156
Product_Category_Grains_X_Disc         -3.2458      2.710     -1.198      0.231      -8.560       2.068
Product_Category_Meat_X_Disc            3.2330      2.709      1.193      0.233      -2.079       8.545
Product_Category_Produce_X_Disc        -1.0709      3.170     -0.338      0.736      -7.287       5.146
Product_Category_Seafood_X_Disc        -0.4173      2.052     -0.203      0.839      -4.441       3.606
Product_Id_2                            1.1750      4.188      0.281      0.779      -7.038       9.388
Product_Id_3                            7.0773      6.317      1.120      0.263      -5.311      19.465
Product_Id_4                           -0.5960      5.444     -0.109      0.913     -11.272      10.080
Product_Id_5                            7.4510      6.840      1.089      0.276      -5.963      20.865
Product_Id_6                            3.3323      6.364      0.524      0.601      -9.148      15.813
Product_Id_7                            6.5360      4.820      1.356      0.175      -2.917      15.989
Product_Id_8                            6.4044      6.204      1.032      0.302      -5.761      18.570
Product_Id_9                           -4.5473      9.183     -0.495      0.621     -22.555      13.461
Product_Id_10                           2.2815      4.619      0.494      0.621      -6.776      11.340
Product_Id_11                          -2.5693      4.462     -0.576      0.565     -11.320       6.181
Product_Id_12                           2.3214      6.045      0.384      0.701      -9.533      14.176
Product_Id_13                           2.1077      4.407      0.478      0.632      -6.535      10.750
Product_Id_14                          -2.0670      5.358     -0.386      0.700     -12.576       8.442
Product_Id_15                          -1.4177      8.376     -0.169      0.866     -17.845      15.009
Product_Id_16                           7.0562      4.433      1.592      0.112      -1.638      15.750
Product_Id_17                           4.2218      4.611      0.916      0.360      -4.822      13.265
Product_Id_18                          -0.8813      4.928     -0.179      0.858     -10.545       8.782
Product_Id_19                          -0.0641      4.520     -0.014      0.989      -8.928       8.800
Product_Id_20                          -0.1089      5.760     -0.019      0.985     -11.405      11.188
Product_Id_21                           6.3832      4.478      1.425      0.154      -2.399      15.165
Product_Id_22                           5.8820      5.970      0.985      0.325      -5.826      17.590
Product_Id_23                           9.8644      5.327      1.852      0.064      -0.582      20.311
Product_Id_24                           0.7592      4.045      0.188      0.851      -7.174       8.692
Product_Id_25                          -2.2503      5.591     -0.403      0.687     -13.214       8.714
Product_Id_26                           4.0549      4.660      0.870      0.384      -5.084      13.194
Product_Id_27                          21.5633      7.046      3.060      0.002       7.745      35.382
Product_Id_28                          -0.4802      4.683     -0.103      0.918      -9.665       8.705
Product_Id_29                           1.3108      4.752      0.276      0.783      -8.008      10.630
Product_Id_30                          -1.5290      4.694     -0.326      0.745     -10.735       7.677
Product_Id_31                           5.0737      4.258      1.191      0.234      -3.278      13.425
Product_Id_32                          -2.6826      5.915     -0.454      0.650     -14.283       8.918
Product_Id_33                           2.4340      4.655      0.523      0.601      -6.695      11.563
Product_Id_34                           5.2207      5.302      0.985      0.325      -5.177      15.619
Product_Id_35                           3.5690      4.394      0.812      0.417      -5.048      12.186
Product_Id_36                           5.3923      4.725      1.141      0.254      -3.874      14.658
Product_Id_37                           0.6300      8.359      0.075      0.940     -15.763      17.023
Product_Id_38                           4.2004      4.919      0.854      0.393      -5.447      13.847
Product_Id_39                           4.3158      4.609      0.936      0.349      -4.722      13.354
Product_Id_40                           6.4529      4.406      1.464      0.143      -2.189      15.094
Product_Id_41                           0.5463      4.267      0.128      0.898      -7.822       8.915
Product_Id_42                           3.8730      4.825      0.803      0.422      -5.589      13.335
Product_Id_43                          -0.1018      4.706     -0.022      0.983      -9.331       9.128
Product_Id_44                           2.1694      5.136      0.422      0.673      -7.903      12.242
Product_Id_45                          15.3613      6.050      2.539      0.011       3.496      27.226
Product_Id_46                          -0.3877      4.912     -0.079      0.937     -10.020       9.245
Product_Id_47                           3.5415      5.260      0.673      0.501      -6.774      13.857
Product_Id_48                           2.5050      8.521      0.294      0.769     -14.205      19.215
Product_Id_49                           5.4063      5.232      1.033      0.302      -4.854      15.666
Product_Id_50                           4.1147      6.786      0.606      0.544      -9.194      17.424
Product_Id_51                           2.6383      4.552      0.580      0.562      -6.289      11.566
Product_Id_52                          -1.9847      4.811     -0.413      0.680     -11.419       7.449
Product_Id_53                           2.6466      4.781      0.554      0.580      -6.730      12.023
Product_Id_54                          -1.1126      4.628     -0.240      0.810     -10.189       7.963
Product_Id_55                           4.0098      4.865      0.824      0.410      -5.532      13.551
Product_Id_56                           5.8996      4.305      1.370      0.171      -2.543      14.342
Product_Id_57                          -0.2172      5.091     -0.043      0.966     -10.202       9.768
Product_Id_58                           8.2615      5.614      1.472      0.141      -2.748      19.271
Product_Id_59                           6.3582      4.150      1.532      0.126      -1.780      14.496
Product_Id_60                           9.0136      4.230      2.131      0.033       0.718      17.309
Product_Id_61                           2.6265      5.111      0.514      0.607      -7.396      12.649
Product_Id_62                           3.0645      4.248      0.721      0.471      -5.265      11.394
Product_Id_63                           5.3048      5.601      0.947      0.344      -5.680      16.290
Product_Id_64                           5.4062      4.781      1.131      0.258      -3.970      14.783
Product_Id_65                           0.0353      4.792      0.007      0.994      -9.361       9.432
Product_Id_66                           8.8715      7.415      1.196      0.232      -5.670      23.413
Product_Id_67                          -2.5188      6.710     -0.375      0.707     -15.677      10.639
Product_Id_68                           4.0657      4.582      0.887      0.375      -4.921      13.052
Product_Id_69                           0.8948      4.746      0.189      0.850      -8.413      10.203
Product_Id_70                          -0.7631      4.301     -0.177      0.859      -9.197       7.671
Product_Id_71                           4.4119      4.343      1.016      0.310      -4.106      12.930
Product_Id_72                           1.1640      4.422      0.263      0.792      -7.508       9.836
Product_Id_73                           0.3132      6.025      0.052      0.959     -11.503      12.129
Product_Id_74                           3.2374      6.170      0.525      0.600      -8.862      15.337
Product_Id_75                           3.6895      4.137      0.892      0.373      -4.424      11.803
Product_Id_76                           3.9953      4.304      0.928      0.353      -4.445      12.436
Product_Id_77                          -1.4860      4.531     -0.328      0.743     -10.371       7.399
==============================================================================
Omnibus:                      740.658   Durbin-Watson:                   1.649
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2741.250
Skew:                           1.675   Prob(JB):                         0.00
Kurtosis:                       7.394   Cond. No.                     2.25e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.26e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

The coefficients on the interaction variables range from -3.2458 to 4.2258, all with P-values above 0.05. This means that we cannot reject the null hypothesis for each of these interaction terms - that the coefficients are equal to zero - in favor of the alternative hypothesis that the coefficients are non-zero - a two-tailed test. This means that we do not have evidence to claim that the magnitude of the difference in order quantity associated with discounts is different for different categories of products. 

The high standard errors on these coefficients and high condition number suggests that we have insufficient sample size to get precise estimates for these interaction term coefficients in the face of high multi-collinearity.

## Order Count by Region Match

### Refining the Question

Customers may be more satisfied if their orders are processed by an employee who works in their region. This could be because the employee is better able to communicate with or understand the needs of their customer. One indicator of customer satisfaction is whether the customer submits more orders. 

Here is the question framed in a more answerable way: On average across employees in each region, do customers from that region submit more orders than customers from other regions? If so, is this difference similar across regions?

### Data Extraction

This will require pulling information from the CustomerDemo table, so I will need to add a few joins to the query

In [30]:
query3 = session.query(Order, Employee, Customer).\
                filter(Customer.Id == Order.CustomerId).\
                filter(Employee.Id == Order.EmployeeId).\
                all()

df3 = pd.DataFrame()
for o, e, c in query3:
    q3_df_row = pd.DataFrame({'Order_Id': o.Id, 'Customer_Id': c.Id, 'Employee_Id': e.Id,
                             'Customer_Region': c.Region, 'Employee_Region': e.Region}, index = [0])
    df3 = df3.append(q3_df_row, ignore_index= True)

2019-03-19 10:13:34,860 INFO sqlalchemy.engine.base.Engine SELECT "Order"."Id" AS "Order_Id", "Order"."CustomerId" AS "Order_CustomerId", "Order"."EmployeeId" AS "Order_EmployeeId", "Order"."OrderDate" AS "Order_OrderDate", "Order"."RequiredDate" AS "Order_RequiredDate", "Order"."ShippedDate" AS "Order_ShippedDate", "Order"."ShipVia" AS "Order_ShipVia", "Order"."Freight" AS "Order_Freight", "Order"."ShipName" AS "Order_ShipName", "Order"."ShipAddress" AS "Order_ShipAddress", "Order"."ShipCity" AS "Order_ShipCity", "Order"."ShipRegion" AS "Order_ShipRegion", "Order"."ShipPostalCode" AS "Order_ShipPostalCode", "Order"."ShipCountry" AS "Order_ShipCountry", "Employee"."Id" AS "Employee_Id", "Employee"."LastName" AS "Employee_LastName", "Employee"."FirstName" AS "Employee_FirstName", "Employee"."Title" AS "Employee_Title", "Employee"."TitleOfCourtesy" AS "Employee_TitleOfCourtesy", "Employee"."BirthDate" AS "Employee_BirthDate", "Employee"."HireDate" AS "Employee_HireDate", "Employee"."Address" AS "Employee_Address", "Employee"."City" AS "Employee_City", "Employee"."Region" AS "Employee_Region", "Employee"."PostalCode" AS "Employee_PostalCode", "Employee"."Country" AS "Employee_Country", "Employee"."HomePhone" AS "Employee_HomePhone", "Employee"."Extension" AS "Employee_Extension", "Employee"."Photo" AS "Employee_Photo", "Employee"."Notes" AS "Employee_Notes", "Employee"."ReportsTo" AS "Employee_ReportsTo", "Employee"."PhotoPath" AS "Employee_PhotoPath", "Customer"."Id" AS "Customer_Id", "Customer"."CompanyName" AS "Customer_CompanyName", "Customer"."ContactName" AS "Customer_ContactName", "Customer"."ContactTitle" AS "Customer_ContactTitle", "Customer"."Address" AS "Customer_Address", "Customer"."City" AS "Customer_City", "Customer"."Region" AS "Customer_Region", "Customer"."PostalCode" AS "Customer_PostalCode", "Customer"."Country" AS "Customer_Country", "Customer"."Phone" AS "Customer_Phone", "Customer"."Fax" AS "Customer_Fax"
FROM "Order", "Employee", "Customer"
WHERE "Customer"."Id" = "Order"."CustomerId" AND "Employee"."Id" = "Order"."EmployeeId"
2019-03-19 10:13:34,862 INFO sqlalchemy.engine.base.Engine ()

### Data Exploration & Cleaning

In [31]:
#Explore counts of Region & Employee IDs
print(df3['Customer_Region'].value_counts())
print(df3['Employee_Region'].value_counts())
print(df3['Employee_Id'].value_counts())
print(df3[['Employee_Id', 'Employee_Region']].drop_duplicates())

#Create Region Match Variable
region_match_list = [df3['Customer_Region'][i] == df3['Employee_Region'][i] for i in range(0,df3.shape[0])]
df3['Region_Match'] = pd.Series(region_match_list)
print(df3['Region_Match'].value_counts())

#Create order count variable
order_count = df3.groupby('Customer_Id').count()['Order_Id']
df3 = df3.merge(order_count.to_frame('Cust_Ord_Count'), left_on='Customer_Id', right_index=True)
print(df3['Cust_Ord_Count'].value_counts())

df3.head(10)

Western Europe     272
North America      152
South America      127
British Isles       75
Southern Europe     64
Northern Europe     55
Scandinavia         28
Central America     21
Eastern Europe       7
Name: Customer_Region, dtype: int64
North America    590
British Isles    211
Name: Employee_Region, dtype: int64
4    152
3    123
1    121
8    100
2     94
6     64
7     63
9     43
5     41
Name: Employee_Id, dtype: int64
    Employee_Id Employee_Region
0             5   British Isles
1             6   British Isles
2             4   North America
3             3   North America
7             9   British Isles
10            1   North America
14            8   North America
17            2   North America
41            7   British Isles
False    661
True     140
Name: Region_Match, dtype: int64
10    110
14     84
18     54
6      48
9      45
5      45
15     45
11     44
7      42
19     38
12     36
8      32
31     31
30     30
28     28
13     26
3      21
4      20
17     17
2       4
1       1
Name: Cust_Ord_Count, dtype: int64

,Order_Id,Customer_Id,Employee_Id,Customer_Region,Employee_Region,Region_Match,Cust_Ord_Count
0,10248,VINET,5,Western Europe,British Isles,False,5
26,10274,VINET,6,Western Europe,British Isles,False,5
47,10295,VINET,2,Western Europe,North America,False,5
471,10737,VINET,2,Western Europe,North America,False,5
473,10739,VINET,3,Western Europe,North America,False,5
1,10249,TOMSP,6,Western Europe,British Isles,False,6
185,10438,TOMSP,3,Western Europe,North America,False,6
193,10446,TOMSP,6,Western Europe,British Isles,False,6
291,10548,TOMSP,3,Western Europe,North America,False,6
350,10608,TOMSP,4,Western Europe,North America,False,6

I will now remove all duplicate entries such that there is only one row per Employee-Customer pair. This will allow me to explore patterns across customers for each employee.

In [21]:
print(df3.shape[0])
df3.drop_duplicates(subset = ['Customer_Id', 'Employee_Id'], inplace = True)
print(df3.shape[0])

801
447

### Analysis

This first analysis adresses the first part of the question:  On average across employees in each region, do customers from that region submit more orders than customers from other regions?

To do this, I will again use a fixed effects regression model. In this model, the target is the number of orders per customer, 'Cust_Ord_Count'. The main feature of interest is a dummy variable that indicates whether the customer and employee are in the same region: 'Region_Match'. I include dummy variables for each Employee in the model as well - this adjusts for the fact that some employees will tend to receive more orders overall, regardless of whether they match the customer or not. This allows for the following interpretation of the coefficient on the 'Region_Match' variable: it represents an average across all employees of the difference in order count associated with the matching of customer and employee region. This is a two-tailed test.

In [22]:
#Fixed Effects Model
fe_df = pd.get_dummies(df3, columns=['Employee_Id'], drop_first=True)
print(fe_df.columns)
emp_id_col_list = fe_df.columns[6:]
emp_id_string = '+'.join(emp_id_col_list)
f = 'Cust_Ord_Count ~ Region_Match + ' + emp_id_string
model = ols(formula=f, data=fe_df).fit()
model.summary()

Index(['Order_Id', 'Customer_Id', 'Customer_Region', 'Employee_Region',
       'Region_Match', 'Cust_Ord_Count', 'Employee_Id_2', 'Employee_Id_3',
       'Employee_Id_4', 'Employee_Id_5', 'Employee_Id_6', 'Employee_Id_7',
       'Employee_Id_8', 'Employee_Id_9'],
      dtype='object')

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         Cust_Ord_Count   R-squared:                       0.015
Model:                            OLS   Adj. R-squared:                 -0.005
Method:                 Least Squares   F-statistic:                    0.7368
Date:                Tue, 19 Mar 2019   Prob (F-statistic):              0.675
Time:                        09:45:43   Log-Likelihood:                -1450.0
No. Observations:                 447   AIC:                             2920.
Df Residuals:                     437   BIC:                             2961.
Df Model:                           9
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               10.6849      0.807     13.232      0.000       9.098      12.272
Region_Match[T.True]     0.4501      0.805      0.559      0.576      -1.132       2.032
Employee_Id_2            0.1914      1.147      0.167      0.868      -2.063       2.446
Employee_Id_3           -0.1669      1.127     -0.148      0.882      -2.381       2.048
Employee_Id_4           -0.4051      1.082     -0.374      0.708      -2.532       1.722
Employee_Id_5            1.7276      1.431      1.207      0.228      -1.085       4.541
Employee_Id_6            0.2139      1.251      0.171      0.864      -2.246       2.673
Employee_Id_7            0.5285      1.260      0.419      0.675      -1.949       3.006
Employee_Id_8            0.5114      1.163      0.440      0.660      -1.775       2.798
Employee_Id_9            2.4944      1.409      1.771      0.077      -0.274       5.263
==============================================================================
Omnibus:                      108.876   Durbin-Watson:                   0.309
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              213.539
Skew:                           1.333   Prob(JB):                     4.27e-47
Kurtosis:                       5.087   Cond. No.                         9.15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Interpretation

The coefficient on Region_Match is 0.4501, with a P-value of 0.576. This means that we cannot reject the null hypothesis - that there is no relationship between number of orders submitted and region match between customers and employees - in favor of the alternative hypothesis that there is some such difference.

## Regional Sales Differences

### Refining the Question

In the previous analysis, we saw that employees belonged to only two regions: North America and British Isles. I was curious whether there was a difference in revenue between the two regions. If there were such a difference, this might help inform how the company could re-allocate its resources. To analyze this, I will compare the revenue per week across the two regions - this will give me sufficient sample size to have power to detect significance.

### Data Extraction

In [23]:
query4 = session.query(Order, OrderDetail, Employee).\
                filter(OrderDetail.OrderId == Order.Id).\
                filter(Employee.Id == Order.EmployeeId).\
                all()

df4 = pd.DataFrame()
for o, od, e, in query4:
    q4_df_row = pd.DataFrame({'Order_Id': o.Id, 'Order_Date':o.OrderDate, 'Employee_Region': e.Region, 
                             'Unit_Price': od.UnitPrice, 'Quantity': od.Quantity, 'Discount': od.Discount}, index = [0])
    df4 = df4.append(q4_df_row, ignore_index= True)

2019-03-19 09:45:43,464 INFO sqlalchemy.engine.base.Engine SELECT "Order"."Id" AS "Order_Id", "Order"."CustomerId" AS "Order_CustomerId", "Order"."EmployeeId" AS "Order_EmployeeId", "Order"."OrderDate" AS "Order_OrderDate", "Order"."RequiredDate" AS "Order_RequiredDate", "Order"."ShippedDate" AS "Order_ShippedDate", "Order"."ShipVia" AS "Order_ShipVia", "Order"."Freight" AS "Order_Freight", "Order"."ShipName" AS "Order_ShipName", "Order"."ShipAddress" AS "Order_ShipAddress", "Order"."ShipCity" AS "Order_ShipCity", "Order"."ShipRegion" AS "Order_ShipRegion", "Order"."ShipPostalCode" AS "Order_ShipPostalCode", "Order"."ShipCountry" AS "Order_ShipCountry", "OrderDetail"."Id" AS "OrderDetail_Id", "OrderDetail"."OrderId" AS "OrderDetail_OrderId", "OrderDetail"."ProductId" AS "OrderDetail_ProductId", "OrderDetail"."UnitPrice" AS "OrderDetail_UnitPrice", "OrderDetail"."Quantity" AS "OrderDetail_Quantity", "OrderDetail"."Discount" AS "OrderDetail_Discount", "Employee"."Id" AS "Employee_Id", "Employee"."LastName" AS "Employee_LastName", "Employee"."FirstName" AS "Employee_FirstName", "Employee"."Title" AS "Employee_Title", "Employee"."TitleOfCourtesy" AS "Employee_TitleOfCourtesy", "Employee"."BirthDate" AS "Employee_BirthDate", "Employee"."HireDate" AS "Employee_HireDate", "Employee"."Address" AS "Employee_Address", "Employee"."City" AS "Employee_City", "Employee"."Region" AS "Employee_Region", "Employee"."PostalCode" AS "Employee_PostalCode", "Employee"."Country" AS "Employee_Country", "Employee"."HomePhone" AS "Employee_HomePhone", "Employee"."Extension" AS "Employee_Extension", "Employee"."Photo" AS "Employee_Photo", "Employee"."Notes" AS "Employee_Notes", "Employee"."ReportsTo" AS "Employee_ReportsTo", "Employee"."PhotoPath" AS "Employee_PhotoPath"
FROM "Order", "OrderDetail", "Employee"
WHERE "OrderDetail"."OrderId" = "Order"."Id" AND "Employee"."Id" = "Order"."EmployeeId"
2019-03-19 09:45:43,465 INFO sqlalchemy.engine.base.Engine ()

### Data Exploration & Cleaning

In [24]:
print(df4.info())
print(df4.describe())
df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 6 columns):
Order_Id           2155 non-null int64
Order_Date         2155 non-null object
Employee_Region    2155 non-null object
Unit_Price         2155 non-null object
Quantity           2155 non-null int64
Discount           2155 non-null float64
dtypes: float64(1), int64(2), object(3)
memory usage: 101.1+ KB
None
           Order_Id     Quantity     Discount
count   2155.000000  2155.000000  2155.000000
mean   10659.375870    23.812993     0.056167
std      241.378032    19.022047     0.083450
min    10248.000000     1.000000     0.000000
25%    10451.000000    10.000000     0.000000
50%    10657.000000    20.000000     0.000000
75%    10862.500000    30.000000     0.100000
max    11077.000000   130.000000     0.250000

   Order_Id  Order_Date Employee_Region     Unit_Price  Quantity  Discount
0     10248  2012-07-04   British Isles  14.0000000000        12       0.0
1     10248  2012-07-04   British Isles   9.8000000000        10       0.0
2     10248  2012-07-04   British Isles  34.8000000000         5       0.0
3     10249  2012-07-05   British Isles  18.6000000000         9       0.0
4     10249  2012-07-05   British Isles  42.4000000000        40       0.0

In [25]:
#Clean Order ID Orders
df4['Order_Id'] = df4['Order_Id'].astype('category')

#Clean Employee_Region
df4['Employee_Region'] = df4['Employee_Region'].astype('category')

#Clean Order Date - convert to week category
print(df4['Order_Date'].min(), df4['Order_Date'].max())
df4['Order_Date'] = df4['Order_Date'].astype('datetime64')
df4['Order_Year_Week'] = df4['Order_Date'].dt.strftime('%Y-%U').astype('category')

#Clean Order Deatils - calculate total price
df4['Unit_Price'] = df4['Unit_Price'].astype('float64')
df4['Total_Price'] = df4['Unit_Price']*df4['Quantity']*(1 - df4['Discount'])

df4.head()

2012-07-04 2014-05-06

,Order_Id,Order_Date,Employee_Region,Unit_Price,Quantity,Discount,Order_Year_Week,Total_Price
0,10248,2012-07-04,British Isles,14.0,12,0.0,2012-27,168.0
1,10248,2012-07-04,British Isles,9.8,10,0.0,2012-27,98.0
2,10248,2012-07-04,British Isles,34.8,5,0.0,2012-27,174.0
3,10249,2012-07-05,British Isles,18.6,9,0.0,2012-27,167.4
4,10249,2012-07-05,British Isles,42.4,40,0.0,2012-27,1696.0

In [26]:
#Get total price per week/Region
price_df = df4.groupby(['Employee_Region', 'Order_Year_Week'])['Total_Price'].agg('sum').to_frame()
print(price_df.head())

#Pivot to get one row per week
price_df = price_df.unstack(level = 0).fillna(0)
price_df.head()

                                 Total_Price
Employee_Region Order_Year_Week
British Isles   2012-27             2303.400
                2012-28             3047.120
                2012-30             2569.425
                2012-31             2146.200
                2012-32              538.600

                  Total_Price
Employee_Region British Isles North America
Order_Year_Week
2012-27              2303.400          0.00
2012-28              3047.120       7249.36
2012-29                 0.000       5306.03
2012-30              2569.425       2106.56
2012-31              2146.200       6013.80

In [27]:
price_df.columns = price_df.columns.droplevel()
price_df.mean()

Employee_Region
British Isles    3480.623369
North America    9305.164909
dtype: float64

It looks like there is a big difference in revenue per week - let's do a formal hypothesis test

### Analysis

For this hypotheis test, I will use a paired sample t-test. I do this because there is a pair of observations from each week in our sample - one from the British Isles and one from North America. Thus, these observations are related, so a paired test is needed. The null hypothesis is that there is no difference in weekly revenue between orders processed by employees from the two regions. The alternative hypothesis is that there is a difference in weekly revenue between the two regions. This is a two-tailed test.

In [28]:
import scipy.stats as stats

stats.ttest_rel(price_df['British Isles'], price_df['North America'])

Ttest_relResult(statistic=-9.0350505597535, pvalue=1.5020048606679717e-14)

### Interpretation

The p-value is less than 0.001, so we can comfortably reject the null hypothesis and conclude that there is a difference in weekly revenue between employees from the two regions. In this case, the British Isles employees bring in significantly less revenue per week than the North America region, suggesting that that region might benefit from additional support.